a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background-color: #0070f3;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}

/* 自定义字体 */
@font-face {
  font-family: 'SometypeMono';
  src: url('../public/font/SometypeMono-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'robotoBold';
  src: url('../public/font/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'lato';
  src: url('../public/font/Lato-Black.ttf');
}